:root {
    --poke-blue: blue;
    --poke-brown: brown;
    --poke-yellow: yellow;
    --poke-gray: gray;
    --poke-green: rgb(30, 224, 30);
    --poke-pink: pink;
    --poke-red: red;
    --poke-black: black;
    --poke-violet: violet;
    --poke-white: white;
    --back-ground: darkslategray;
    --search-color: #d6c887;
}
