* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--poke-white);
}

body {
    width: 1920px;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    height: 264px;
    background-color: var(--poke-red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

.header-sign {
    width: 128px;
    height: auto;
    aspect-ratio: 1/1;
}

#title-img {
    width: 640px;
    height: auto;
}

footer {
    background-color: var(--poke-red);
    height: 80px;
}

main {
    min-height: calc(100vh - 344px);
    background-color: var(--back-ground);
}

#search-bar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;

    & input {
        width: 350px;
        height: 40px;
        outline: none;
        margin: 1.5rem;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid var(--search-color);
        border-top: 2px solid var(--search-color);
        border-radius: 50px;
        line-height: 1.2rem;
        font-size: 1.4rem;
        text-align: center;
        color: var(--search-color);
        letter-spacing: 2px;
        font-family: "Caveat", cursive;
    }
}

::placeholder {
    color: var(--search-color);
    letter-spacing: 2px;
    font-family: "Caveat", cursive;
}

#search-info {
    color: var(--poke-red);
}

#load-more-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;

    & button {
        width: 350px;
        height: 40px;
        outline: none;
        margin: 1.5rem;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid var(--search-color);
        border-top: 2px solid var(--search-color);
        border-radius: 50px;
        line-height: 1.2rem;
        font-size: 1.4rem;
        text-align: center;
        color: var(--search-color);
        letter-spacing: 2px;
        font-family: "Caveat", cursive;
    }

    & button:hover {
        cursor: pointer;
        text-shadow: 4px 4px 4px #222;
    }
}

#pokemon-cards-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 32px;
    gap: 16px;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--preview-bg);
    width: 240px;
    border-radius: 20px;
    border-color: transparent;
    border: 2px solid var(--search-color);
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--poke-white);
    font-size: 24px;
    font-weight: 600;

    & .poke-img {
        width: 164px;
        height: auto;
        aspect-ratio: 1/1;
        filter: drop-shadow(8px 8px 8px #222);
    }

    & .poke-img:hover {
        cursor: pointer;
        filter: drop-shadow(16px 16px 16px #222);
        scale: 1.01;
    }
}

.poke-img-container {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.id-and-name-container {
    margin-bottom: 8px;
}

.poke-name {
    text-transform: capitalize;
}

.poke-type-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    & img {
        width: 84px;
        height: 24px;
        margin-bottom: 8px;
    }
}

input[type="range"]::-webkit-slider-thumb {
    opacity: 0;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--overlay-bg);
}

.pokemon-detail-card {
    width: 320px;
    margin-top: calc(24vh / 2);
    justify-self: center;
    border: 2px solid var(--search-color);
    border-radius: 20px;
}

.pokemon-info-container {
    & .pokemon-container {
        width: 100%;
        border: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: var(--info-detail-bg);
    }
}

.pokemon-info-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--info-detail-bg);
    gap: 2px;

    & button {
        padding: 8px;
        min-width: fit-content;
        flex: 1;
        text-align: center;
        color: var(--poke-white);
        background-color: var(--info-btn-bg);
        border: 0;
        font-size: 16px;
    }

    & button:hover {
        cursor: pointer;
        box-shadow: 0 8px 8px -8px var(--poke-white);
    }
}

.poke-info-detail-container {
    background-color: var(--info-detail-bg);
    height: 240px;
    padding: 16px;
    color: var(--poke-white);

    & table {
        width: 100%;
        border-spacing: 8px;
        font-size: 14px;
    }

    & p {
        text-transform: capitalize;
    }

    & input[type="range"] {
        width: 100%;
    }

    & .evo-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    & .evo-img {
        width: 64px;
        height: 64px;
        aspect-ratio: 1/1;
        margin-bottom: 8px;
    }
}

.pokemon-arrow-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: var(--info-detail-bg);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    & button {
        background-color: var(--info-btn-bg);
        border: 0;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        aspect-ratio: 1/1;
        font-size: 24px;
        font-weight: 600;
        color: gray;
        text-align: center;
    }
}

#loading-spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--back-ground);
}

#loading-spinner-img {
    position: absolute;
    width: 240px;
    height: 240px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

#evo-message,
#img-error-message {
    text-align: center;
    margin-top: 32px;
}

.d_none {
    display: none;
}
