header {
    height: 264px;
    background-color: var(--poke-red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

.header-sign {
    width: 128px;
    height: auto;
    aspect-ratio: 1/1;
}

#title-img {
    width: 640px;
    height: auto;
}

footer {
    background-color: var(--poke-red);
    height: 80px;
}

main {
    min-height: calc(100vh - 344px);
    background-color: var(--back-ground);
}

#search-bar-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    & input {
        width: 350px;
        height: 40px;
        outline: none;
        margin: 1.5rem;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid var(--search-color);
        border-top: 2px solid var(--search-color);
        border-radius: 50px;
        line-height: 1.2rem;
        font-size: 1.4rem;
        text-align: center;
        color: var(--search-color);
        letter-spacing: 2px;
        font-family: "Caveat", cursive;
    }
}

::placeholder {
    color: var(--search-color);
    letter-spacing: 2px;
    font-family: "Caveat", cursive;
}

#pokemon-cards-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 32px;
    gap: 16px;
}

#pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--poke-green);
    width: 240px;
    border-radius: 20px;
    border-color: transparent;
    border: 2px solid var(--search-color);
    padding: 8px;
    color: var(--poke-white);
    font-size: 24px;
    font-weight: 600;

    & img {
        width: 164px;
        height: auto;
        aspect-ratio: 1/1;
    }
}

#id-and-name-container {
    margin-bottom: 8px;
}

#poke-name {
    text-transform: capitalize;
}

#poke-type-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    & img {
        width: 84px;
        height: 24px;
        margin-bottom: 8px;
    }
}

#poke-stats-container {
    padding-top: 8px;
    font-size: 20px;
    font-weight: 200;

    & p {
        text-transform: capitalize;
    }
}

input[type="range"]::-webkit-slider-thumb {
    opacity: 0;
}
